html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
header {
  width: 80%;
  background-color: lightcoral;
  text-align: center;
  margin: auto;
}
.grid {
  margin: auto;
  width: 200px;
  height: 400px;
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
}
.grid > div {
  width: 20px;
  height: 20px;
}
.tetromino {
  background-color: red;
}
